<div class="instr">{{Instruction}}</div>
<div class="label">Your code</div>
<div id="editor" class="codebox"></div>

<div id="cm-data" style="display:none"
     data-lang="{{Lang}}"
     data-starter="{{StarterCode}}"></div>

<link rel="stylesheet" href="_codemirror.css">
<script src="_codemirror.js"></script>
<script src="_simple.js"></script>
<script src="_rust.js"></script>
<script src="_closebrackets.js"></script>
<script src="_matchbrackets.js"></script>
<script src="_cards.js"></script>
<script>ankiCodeFront();</script>
